<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  </head>
  <body>
    <form action="/prediction" class="decor" method="POST">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>Predict Now</h1>
        <input type="text" name="filepath" placeholder="Enter prediction filepath here">
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>